anyio==3.6.1
argon2-cffi @ file:///C:/ci/argon2-cffi_1613038015961/work
asgiref==3.4.1
async-exit-stack==1.0.1
async-generator==1.10
attrs @ file:///opt/conda/conda-bld/attrs_1642510447205/work
backcall @ file:///home/ktietz/src/ci/backcall_1611930011877/work
bcrypt==3.2.2
bleach @ file:///opt/conda/conda-bld/bleach_1641577558959/work
certifi==2020.6.20
cffi @ file:///C:/ci/cffi_1625831764454/work
click==8.0.4
colorama @ file:///tmp/build/80754af9/colorama_1607707115595/work
contextvars==2.4
cryptography @ file:///C:/ci/cryptography_1616769482701/work
dataclasses==0.8
decorator @ file:///opt/conda/conda-bld/decorator_1643638310831/work
defusedxml @ file:///tmp/build/80754af9/defusedxml_1615228127516/work
ecdsa @ file:///home/conda/feedstock_root/build_artifacts/ecdsa_1657435990700/work
entrypoints==0.3
fastapi @ file:///home/conda/feedstock_root/build_artifacts/fastapi_1633451061755/work
greenlet @ file:///C:/ci/greenlet_1628888274120/work
gunicorn==20.1.0
h11==0.13.0
idna==3.3
immutables==0.18
importlib-metadata @ file:///C:/ci/importlib-metadata_1631916884109/work
ipykernel @ file:///C:/ci/ipykernel_1596208513583/work/dist/ipykernel-5.3.4-py3-none-any.whl
ipython @ file:///C:/ci/ipython_1593447475075/work
ipython-genutils @ file:///tmp/build/80754af9/ipython_genutils_1606773439826/work
ipywidgets @ file:///tmp/build/80754af9/ipywidgets_1634143127070/work
jedi==0.17.0
Jinja2 @ file:///opt/conda/conda-bld/jinja2_1647436528585/work
jsonschema @ file:///Users/ktietz/demo/mc3/conda-bld/jsonschema_1630511932244/work
jupyter==1.0.0
jupyter-client @ file:///opt/conda/conda-bld/jupyter_client_1643638337975/work
jupyter-console @ file:///opt/conda/conda-bld/jupyter_console_1647002188872/work
jupyter-core @ file:///C:/ci/jupyter_core_1633420424279/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-widgets @ file:///tmp/build/80754af9/jupyterlab_widgets_1609884341231/work
MarkupSafe @ file:///C:/ci/markupsafe_1621528358854/work
mistune==0.8.4
nbclient @ file:///tmp/build/80754af9/nbclient_1614364831625/work
nbconvert @ file:///C:/ci/nbconvert_1602277414698/work
nbformat @ file:///tmp/build/80754af9/nbformat_1617383369282/work
nest-asyncio @ file:///tmp/build/80754af9/nest-asyncio_1613680548246/work
notebook @ file:///C:/ci/notebook_1629205937753/work
packaging @ file:///tmp/build/80754af9/packaging_1637314298585/work
pandocfilters @ file:///opt/conda/conda-bld/pandocfilters_1643405455980/work
parso @ file:///opt/conda/conda-bld/parso_1641458642106/work
passlib==1.7.4
pickleshare @ file:///tmp/build/80754af9/pickleshare_1606932040724/work
prometheus-client @ file:///opt/conda/conda-bld/prometheus_client_1643788673601/work
prompt-toolkit @ file:///tmp/build/80754af9/prompt-toolkit_1633440160888/work
psycopg2==2.9.3
pyasn1==0.4.8
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydantic @ file:///C:/ci/pydantic_1621547136214/work
Pygments @ file:///opt/conda/conda-bld/pygments_1644249106324/work
pyparsing @ file:///tmp/build/80754af9/pyparsing_1635766073266/work
pyrsistent @ file:///C:/ci/pyrsistent_1600141492880/work
python-dateutil @ file:///tmp/build/80754af9/python-dateutil_1626374649649/work
python-decouple @ file:///home/conda/feedstock_root/build_artifacts/python-decouple_1643839541685/work
python-dotenv==0.20.0
python-jose @ file:///home/conda/feedstock_root/build_artifacts/python-jose_1624701740191/work
python-multipart==0.0.5
pywin32==227
pywinpty==0.5.7
PyYAML==6.0
pyzmq @ file:///C:/ci/pyzmq_1628276145943/work
qtconsole @ file:///opt/conda/conda-bld/qtconsole_1643819126524/work
QtPy @ file:///opt/conda/conda-bld/qtpy_1649073884068/work
rsa @ file:///home/conda/feedstock_root/build_artifacts/rsa_1658328885051/work
Send2Trash @ file:///tmp/build/80754af9/send2trash_1632406701022/work
six @ file:///tmp/build/80754af9/six_1644875935023/work
sniffio==1.2.0
SQLAlchemy @ file:///C:/ci/sqlalchemy_1626949062658/work
starlette @ file:///home/conda/feedstock_root/build_artifacts/starlette-recipe_1612371539619/work
terminado==0.9.4
testpath @ file:///tmp/build/80754af9/testpath_1624638946665/work
tornado @ file:///C:/ci/tornado_1606924290828/work
traitlets @ file:///C:/ci/traitlets_1632759510075/work
typing_extensions @ file:///opt/conda/conda-bld/typing_extensions_1647553014482/work
uvicorn==0.16.0
watchgod==0.7
wcwidth @ file:///Users/ktietz/demo/mc3/conda-bld/wcwidth_1629357192024/work
webencodings==0.5.1
websockets==9.1
widgetsnbextension==3.5.1
wincertstore==0.2
windows-curses==2.3.0
zipp @ file:///tmp/build/80754af9/zipp_1633618647012/work
